﻿<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Data Binding Example</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" ng-app>
        <h1>Data-Binding Example</h1>
        <input type="text" ng-model="text" />  <!--ng-model directive binds input to a scope variable-->
        <p>{{text}}</p>
        <p>{{text + ' something ' + text}}</p>
        <p>{{text === 'hello'}}</p>
        <p>{{5 + 5}}</p>
    </div>
</body>
</html>