﻿<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-app="formExample">
    <div class="container" ng-controller="ExampleController">
        <div class="row">
            <h1>Form Example</h1>
            <form novalidate class="form-group" ng-submit="reset()">  <!--novalidate disables native browser form validation -->
                <label>Name: </label>
                <input type="text" class="form-control" ng-model="user.name" /><br /> <!--ng-model directive binds input to a scope variable-->
                <label>E-mail: </label>
                <input type="email" class="form-control" ng-model="user.email" /><br />
                <label>Gender: </label>
                <input type="radio" ng-model="user.gender" value="male" />Male
                <input type="radio" ng-model="user.gender" value="female" />Female<br />
                <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
                <input type="submit" class="btn btn-default" ng-click="update(user)" value="Save" />
            </form>
        </div>
        <div class="row">
            <pre>user = {{user | json}}</pre>
            <pre>master = {{master | json}}</pre>
        <p ng-show="timestamp">Last record input on {{timestamp | date: 'medium'}}</p>
        </div>
    </div>

    <script>
        angular.module('formExample', [])
          .controller('ExampleController', ['$scope', function ($scope) {
              $scope.master = [];
              $scope.timestamp;
              $scope.update = function (user) {
                  $scope.timestamp = Date.now();
                  user.timestamp = Date.now();
                  $scope.master.push(user);
              };

              $scope.reset = function () {
                  $scope.user = {};
              };

              $scope.reset();
          }]);
    </script>

</body>
</html>