﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-app="NavModule">

    <div class="container" ng-controller="NavController as nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Angular</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" ng-click="nav.toggleActive(0)">Home</a></li>
                        <li><a href="#" ng-click="nav.toggleActive(1)">About</a></li>
                        <li><a href="#" ng-click="nav.toggleActive(2)">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
        </nav>


        <div class="jumbotron">
            <div id=" content" ng-repeat="page in nav.pages" ng-show="page.active">
                <h1>{{page.title}}</h1>
                <p>
                    {{page.description}}
                </p>
            </div>
        </div>

        <my-directive></my-directive>

    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
